<div class="container">
  <div class="card card-container">
    <img id="profile-img" [src]="url" [alt]="description" class="img-login profile-img-card">
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" id="inputText" class="form-control" placeholder="Conta" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar-me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
    </form><!-- /form -->
    <a href="#" class="forgot-password">
      Ainda não tem conta? Cadastre-se
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->